
<div class="rsg" style="height:auto">
<h1>注册</h1>
<div class="rsg_info cf">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),html:{onsubmit: "return check()"}) do |f| %>
    <%= devise_error_messages! %>
    <ul>
      <li><%= f.label :name, "用户名：" %>
        <%= f.text_field :name %><span class="check">*</span></li>

      <li><%= f.label :password, "密码：" %>
        <%= f.password_field :password %><span class="check">*</span></li>

      <li><%= f.label :password_confirmation, "确认密码：" %>
        <%= f.password_field :password_confirmation %><span class="check">*</span></li>

      <li><%= f.label :email, "E-mail：" %>
        <%= f.email_field :email %><span class="check">*</span></li>

      <li><%= f.label :phone, "联系电话：" %>
        <%= f.telephone_field :phone %><span class="check">*</span></li>
      <%#= f.hidden_field :types ,value:0 %>
      <%#= f.hidden_field :status ,value:1 %>

    </ul>
    <div class="rsg_act">
      <%= f.submit "提交", :class => "blue_btn" %>
    </div>
  <% end %>
</div>
</div>
<script>
    function aa(){
	$("#user_name").val("");
    $("#user_email").val("");
    $("#user_password_confirmation").val("");
    $("#user_password").val("");
    $("#user_phone").val("");
    }
    setTimeout('aa()',1000);
</script>

<script>
	function check(){	
	//checkName();
	//checkPassword();
	//checkEmail();
	//checkPhone();
	
	flg=(checkName()&&checkPassword()&&checkEmail()&&checkPhone());
	
	return flg;
}
function checkName(){
	flg=true;
	var name = document.getElementById('user_name');
	if(($.trim(name.value).length)==0){
		tishi_alert('用户名不能为空');		
		flg=false;
	}
	
	return flg;
}
function checkPassword(){
	var flg=false;
	var password = document.getElementById('user_password').value;	
	var repassword = document.getElementById('user_password_confirmation').value;
	
	
	if(password.length>=6){
		if($.trim(password).length==0){
			tishi_alert("密码需要至少包含一个非空白符")
			
		}
		else if(password==repassword){
				flg=true;
				}else{
			tishi_alert("两次密码输入不一致");
			}
				
	}else{
		tishi_alert("请输入长度大于6的密码");
		}	
	return flg;
}


function checkEmail(){
	flg=true;
	var email = document.getElementById('user_email').value;
	var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
	
	 if(!emailReg.test(email))
            {
                tishi_alert('请输入有效的E_mail');                 
                flg=false;
           }
		
	return flg;
	
}



function checkPhone(){
	flg=true;
	var phone = document.getElementById('user_phone').value;
	var phoneReg =/^1[3458]\d{9}$/;
	if(!phoneReg.test(phone)){
		tishi_alert('请输入有效的联系电话。');                 
		flg=false;
	}
	
	return flg;
}

	
	
	
</script>
