<div class="loginBox">
		<h1>申邑•微网站</h1>
		<div class="resForm">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),html:{onsubmit: "return check()"}) do |f| %>
    <%= devise_error_messages! %>
			<div><label>用户名：</label> <%= f.text_field :name %><span class="check">*</span></div>
			<div><label>密码：</label><%= f.password_field :password %><span class="check">*</span></div>
			<div><label>确认：</label> <%= f.password_field :password_confirmation %><span class="check">*</span></div>
			<div><label>联系电话：</label><%= f.telephone_field :phone %><span class="check">*</span></div>
			<div><label>E-mail：</label><%= f.email_field :email %><span class="check">*</span></div>
			<button class="loginBtn">注册</button>
		</div>
		<div class="loginColor"></div>
		<% end %>
</div>

</div>
<script>
    function aa(){
	$("#user_name").val("");
    $("#user_email").val("");
    $("#user_password_confirmation").val("");
    $("#user_password").val("");
    $("#user_phone").val("");
    }
    setTimeout('aa()',1000);
</script>

<script>
	function check(){	
	//checkName();
	//checkPassword();
	//checkEmail();
	//checkPhone();
	
	flg=(checkName()&&checkPassword()&&checkEmail()&&checkPhone());
	
	return flg;
}
function checkName(){
	flg=true;
	var name = document.getElementById('user_name');
	if(($.trim(name.value).length)==0){
		tishi_alert('用户名不能为空');		
		flg=false;
	}
	
	return flg;
}
function checkPassword(){
	var flg=false;
	var password = document.getElementById('user_password').value;	
	var repassword = document.getElementById('user_password_confirmation').value;
	
	
	if(password.length>=6){
		if($.trim(password).length==0){
			tishi_alert("密码需要至少包含一个非空白符")
			
		}
		else if(password==repassword){
				flg=true;
				}else{
			tishi_alert("两次密码输入不一致");
			}
				
	}else{
		tishi_alert("请输入长度大于6的密码");
		}	
	return flg;
}


function checkEmail(){
	flg=true;
	var email = document.getElementById('user_email').value;
	var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
	
	 if(!emailReg.test(email))
            {
                tishi_alert('请输入有效的E_mail');                 
                flg=false;
           }
		
	return flg;
	
}



function checkPhone(){
	flg=true;
	var phone = document.getElementById('user_phone').value;
	var phoneReg =/^1[3458]\d{9}$/;
	if(!phoneReg.test(phone)){
		tishi_alert('请输入有效的联系电话。');                 
		flg=false;
	}
	
	return flg;
}

	
	
	
</script>
