
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <%= stylesheet_link_tag    "application", :media => "all" %>
<title>用户管理</title>

</head>

<body>
<div>
	<div class="head">
    	<div class="head_box">
    		<div class="logo">微网站</div>
        	<div class="user">
            	<div class="user_name">管理员
					<ul class="user_act">
						<li class="scd_btn" name="uinfo_chg">编辑</li>
						<li class="scd_btn" name="pass_chg">修改密码</li>
					</ul>
				</div>
                <div class="user_login"><a>登陆</a></div>
                <div class="user_logout"><a>退出</a></div> 
            </div>
        </div>
		<div class="nav">
			<div class="menu cf">
				<ul>
					<li><a href="#">站点</a></li>
					<li><a href="#" class="hover">用户</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div class="main_container">
    	<h1>用户管理</h1>
        <div class="main_content">
        	<ul class="theTabs cf">
				<li class="theTab" <%if @type==1%> style="background-color:#328BD5 " <% end %> >
					<span onclick="window.location='/user/manage/1'">用户管理</span>
				</li>
				<li class="theTab" <%if @type==2%> style="background-color:#328BD5 " <% end %> >
					<span onclick="window.location='/user/manage/2'">待审核站点</span>
				</li>
				<li class="theTab" <%if @type==3%> style="background-color:#328BD5 " <% end %> >
					<span onclick="window.location='/user/manage/3'">审核通过站点</span>
				</li>
                <li class="theTab" <%if @type==4%> style="background-color:#328BD5 " <% end %> >
					<span onclick="window.location='/user/manage/4'">审核不通过站点</span>
				</li>
			</ul>
			<hr class="tab_line" />
            
            
            
            
            
            
            <% case @type %>
            <% when 1 then %>	
            <div class="Div" >	<!--用户管理-->
             	<div class="page_txt" style="height: 600px;">
            		
                    <table class="table1">	
                    	<tr>
                        	<th>用户名</th>
                            <th>联系电话</th>
                            <th>E-mail</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        
                        <% @users.each do |user| %>		
                        <tr>
                        	<td><%= user.name%></td>
                            <td><%= user.phone%></td>
                            <td><%= user.email%></td>
                            <td>正常</td>
                            <td>
                            	<button class="blue_btn" onclick="window.location='/user/disable/<%=user.id%>' ">禁用</button>
                                <button class="blue_btn" onclick="window.location='/user/delete/<%=user.id%>' ">删除</button>
                            </td>
                        </tr>
                        <% end %>
                                      
                    </table>    
            	</div>
            	<div class="clear"></div>
               <%= will_paginate  @sites,:previous_label=>'上一页',:next_label=>'下一页'%>
            </div>
            
            
            <% when 2 then%>  <!--待审核站点-->
            <div class="Div">
            	<div class="page_txt" style="height: 600px;">
                    <table class="table1">
                    	<tr>
                        	<th>站点名</th>
                            <th>创建人</th>
                            <th>状态</th>
                            <th>根目录</th>
                            <th>操作</th>
                        </tr>
                        
                        <% @sites.each do |site|%>
                        <tr>
                        	<td><%= site.name%></td>
                            <td><%= User.find(site.user_id).name%></td>
                            <td>待审核</td>
                            <td><%= site.root_path%></td>
                            <td>
                            	<button class="blue_btn">预览</button>
                            </td>
                        </tr>
                        <% end %>
                        
                                                                    
                    </table>                   
            	</div>
            	<div class="clear"></div>
               <%= will_paginate  @sites,:previous_label=>'上一页',:next_label=>'下一页'%>
            </div>
            
            <% when 3 then %>	<!--审核通过站点-->
            <div class="Div">
            	<div class="page_txt" style="height: 600px;">
                    <table class="table1">
                    	
                    	<tr>
                        	<th>站点名</th>
                            <th>创建人</th>
                            <th>状态</th>
                            <th>根目录</th>
                            <th>操作</th>
                        </tr>
                        
                        <% @sites.each do |site|%>
                        <tr>
                        	<td><%= site.name%></td>
                            <td><%= User.find(site.user_id).name%></td>
                            <td>审核通过</td>
                            <td><%= site.root_path%></td>
                            <td>
                            	<button class="blue_btn">预览</button>
                            </td>
                        </tr>
                        <% end %>

                    </table>
            	</div>
            	<div class="clear"></div>
               <%= will_paginate  @sites,:previous_label=>'上一页',:next_label=>'下一页'%>
            </div>
            
           
            <% when 4 then%>	<!--审核不通过站点-->
			<div class="Div">
            	<div class="page_txt" style="height: 600px;">
                    <table class="table1">
                    	<tr>
                        	<th>站点名</th>
                            <th>创建人</th>
                            <th>状态</th>
                            <th>根目录</th>
                            <th>操作</th>
                        </tr>
                        
                        <% @sites.each do |site|%>
                        <tr>
                        	<td><%= site.name%></td>
                            <td><%= User.find(site.user_id).name%></td>
                            <td>审核不通过</td>
                            <td><%= site.root_path%></td>
                            <td>
                            	<button class="blue_btn">预览</button>
                            </td>
                        </tr>
                        <% end %>
                   
                    </table>
            	</div>
            	<div class="clear"></div>
                <%= will_paginate  @sites,:previous_label=>'上一页',:next_label=>'下一页'%>
            </div>
            <% end %>
            
    	</div>
    </div>
    <div class="foot"></div>
    
<div class="second_bg"></div>	
<div class="second_box uinfo_chg">
	<div class="second_content">
		<span class="close" >关闭</span>
        <h1>编辑</h1>
		<li>
       		<label>联系电话：</label>
            <input type="text" />
        </li>
        <li>
           	<label>E-mail：</label>
          	<input type="text" />
        </li>
		<div class="uinfo_act">
    		<button class="blue_btn">确认</button>
			<button class="blue_btn">取消</button>
    	</div>
    </div>
</div>
<div class="second_box pass_chg">
	<div class="second_content">
		<span class="close" >关闭</span>
        <h1>修改密码</h1>
		<li>
       		<label>旧密码：</label>
            <input type="text" />
        </li>
        <li>
           	<label>新密码：</label>
          	<input type="text" />
        </li>
		<li>
           	<label>确认：</label>
          	<input type="text" />
        </li>
		<div class="uinfo_act">
    		<button class="blue_btn">确认</button>
			<button class="blue_btn">取消</button>
    	</div>
    </div>
</div>
<div class="second_box checkup">
	<div class="second_content">
		<span class="close" >关闭</span>
        <h1>审核</h1>
		<h2>是否通过审核？</h2>
		<div class="uinfo_act">
    		<button class="blue_btn">通过</button>
			<button class="blue_btn">不通过</button>
    	</div>
    </div>
</div>
</body>
</html>






		
