	

	  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

		  <li><%= f.label :current_password ,'旧密码'%> 
	  	  <%= f.password_field :current_password %></li>
			
		  <li><%= f.label :password, "新密码" %>
		  <%= f.password_field :password %></li>
		
		  <li><%= f.label :password_confirmation, "确认" %>
		  <%= f.password_field :password_confirmation %></li>
		
	 
		  <div class="uinfo_act">
		    <button class="blue_btn" onclick="return checkForm()" >确认</button>
		    <button type="button" class="blue_btn cancel">取消</button>
 		 </div>
      <% end %>


<script>	
	function checkForm(){
		
		var flg=false;
		var oldpassword = document.getElementById('user_current_password').value;	
		var password = document.getElementById('user_password').value;	
		var repassword = document.getElementById('user_password_confirmation').value;
				
		if(password.length>=6 && oldpassword.length>=6){
			if(password==repassword){
				flg=true;
				}else{
			alert("提示:\n\n两次密码输入不一致");
			}		
		}else{
			alert("提示:\n\n请输入长度大于6的密码");
			}	
		return flg;
	} 
</script>
		