<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= @qr_code.try(:title) || "扫码成功" %></title>
    <script type="text/javascript" src="/allsites/js/jQuery-v1.9.0.js"></script>
    <script type="text/javascript" src="/allsites/js/template_main.js"></script>
    <link href="/allsites/style/template_style.css" rel="stylesheet" type="text/css"/>
  </head>

  <body class="qrCode" style="background-image: url(<%= @qr_code.try(:img_path) %>);">
  <article>
    <section>
      <div class="qrCodeBox">
        <div class="qrCodePrize">
          <img src="<%= (@award_info && @award_info.content) ? @award_info.content : "/assets/xxcy.png" %>" style="width:inherit"/>
        </div>
      </div>
      <div class="qrCodeInfo">
        <% if @code && @code != 0 %>
          <span><%= @code%></span>
        <% end %>
      </div>
    </section>
  </article>
  <%= raw page_footer(@site) %>
</body>

</html>
