<div class="picChoice picRes" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "none" : "block" %>">
  <% objects.each do |img|%>
    <% img_path=Rails.root.to_s + '/public/allsites/'+(img.path_name) %>
    <% image = MiniMagick::Image.open(img_path) if File.exists?(img_path) %>
    <% if image %>
      <div class="picBox">
        <img src="/allsites/<%= img.path_name %>" alt="<%= File.basename(img.path_name) %>" onclick="viewLargerImage(this)"
             <%= image&&image["height"]/image["width"]>=1 ? "height='140' width=#{ image['width']*140/image['height']}" : "width='140' height = #{image['height']*140/image['width']}" %>/>
        <span><%= img.path_name.split("/")[-1].length>6 ? "#{img.path_name.split('/')[-1][0..5]}..." :img.path_name.split("/")[-1]%></span>
      </div>
    <% end %>
  <%end%>
  <%if objects.present?%>
    <%= will_paginate objects,:previous_label=>'上一页',:next_label=>'下一页', :style => "float:left;display: #{@site.template.present? && @site.template == Constant::Template[:temp4] ? "none" : "block"}"  %>
  <%end%>
</div>

<script>
  var aarr = $(".pagination").find("a");

  for(var i=0;i<aarr.length;i++){
    var href =$(aarr[i]).attr("href");
    var url=href.split("page=");
    url=url[url.length-1];
    var extre="";
<%if controller.controller_name=="image_texts"%>
      extre ="image_texts/";
<%end%>
    
    var href=extre+url+"/change";
     
    $(aarr[i]).attr("data-remote",true);
    $(aarr[i]).attr("href",href);
  }
</script>