<% from ||= "" %>
<div class="picChoice picRes" style="display: <%= from == "main_page"&&@site.template.present? && @site.template == Constant::Template[:temp4] ? "none" : "block" %>">
  <% @imgs_path.each do |img|%>
    <% img_path=Rails.root.to_s + '/public/allsites/'+(img.path_name) %>
    <% image = MiniMagick::Image.open(img_path) if File.exists?(img_path) %>
    <% if image %>
      <div class="picBox">
        <img src="/allsites/<%= img.path_name %>" alt="<%= File.basename(img.path_name) %>" onclick="viewLargerImage(this)"
             <%= image&&image["height"]/image["width"]>=1 ? "height='140' width=#{ image['width']*140/image['height']}" : "width='140' height=#{image['height']*140/image['width']}" %> />
        <span><%= img.path_name.split("/")[-1].length>6 ? "#{img.path_name.split('/')[-1][0..5]}..." :img.path_name.split("/")[-1]%></span>
      </div>
    <% end %>
  <%end%>
  <div style="clear: both"></div>
  <%if @imgs_path.present?%>
    <div class="digg_pagination" style="margin-left:5px;text-align: center; width:590px">
      <%= will_paginate @imgs_path,:previous_label=>'上一页',:next_label=>'下一页'  %>
    </div>
  <%end%>
</div>

<script>
  var aarr = $(".pagination").find("a");
  aarr.each(function(){
    $(this).attr("data-remote",true);
    $(this).attr("data-type",'script');
    //alert($(this).attr("href"))
    var page_param = $(this).attr("href").split("?")[1]
    $(this).attr("href","<%= change_site_pages_path(@site) %>?" + page_param);
  });
 
</script>