<div class="leftSide">
  <div class="resDiv">
    <%= link_to(site_resources_path(@site)) do %>
      <button class="resBtn">资源包</button>
    <% end %>
  </div>
  <ul class="leftMenu">
    <%= link_to(site_pages_path(@site)) do%>
      <li class="leftItem1 <%= controller_name == "pages" && controller.action_name == "index" ? 'leftItem_selected' : '' %>">
        首页
      </li>
    <% end %>
    <%= link_to(sub_site_pages_path(@site)) do %>
      <li class="leftItem2 <%= controller.action_name == "sub" ? 'leftItem_selected' : '' %>">
        其他页
      </li>
    <% end %>
    <%= link_to(site_forms_path(@site)) do%>
      <li class="leftItem3 <%= controller_name == "forms" ? 'leftItem_selected' : '' %>">
        表单
      </li>
    <% end %>
    <%= link_to(img_stream_site_image_streams_path(@site)) do %>
      <li class="leftItem4 <%= controller_name=="image_streams" ? 'leftItem_selected' : '' %>">
        图片流
      </li>
    <% end %>
    <%= link_to(site_image_texts_path(@site)) do %>
      <li class="leftItem5 <%= controller_name == "image_texts" ? 'leftItem_selected' : '' %>">
        图文
      </li>
    <% end %>
      <li class="leftItem6">刮刮乐</li>
    <%=link_to(site_awards_path(@site)) do%>
      <li class="leftItem7 <%= controller.controller_name == "awards" ? "leftItem_selected":"" %>">
        奖品
      </li>
    <% end %>
    
    <%=link_to site_app_managements_path(@site) do%>
      <li class="leftItem8 <%= controller.controller_name == "app_managements" ? "leftItem_selected":"" %>">
        APP
      </li>
    <% end %>
      <%=link_to site_micro_messages_path(@site) do%>
      <li class="leftItem9 <%= controller.controller_name == "micro_messages" ? "leftItem_selected":"" %>">
        图文消息
      </li>
    <% end %>
      <%=link_to site_weixin_replies_path(@site) do%>
      <li class="leftItem10 <%= controller.controller_name == "weixin_replies" ? "leftItem_selected":"" %>">
        自动回复
      </li>
    <% end %>
  </ul>
</div>