<h1><%= @site.name %>(<%= status_desc @site.status %>)</h1>
<div class="tempChoice">
  <% if @page && @page.main? %>
    <span>模板：</span>
    <ul class="tmp_list">
      <li class="temp1 <%= !@site.template.present? || @site.template == Constant::Template[:temp1] ? "hover" : "" %>"></li>
      <li class="temp2 <%= @site.template.present? && @site.template == Constant::Template[:temp2] ? "hover" : "" %>"></li>
      <li class="temp3 <%= @site.template.present? && @site.template == Constant::Template[:temp3] ? "hover" : "" %>"></li>
      <li class="temp4 <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "hover" : "" %>"></li>
    </ul>
  <% elsif @page && @page.sub? %>
  <% end %>
</div>
<button class="blue_btn setBtn" onclick="change_status('<%=@site.id%>',2,'提交审核')">提交审核</button>
<hr class="cf" color="#bcbcbc" />