<div class="main_container ">
  <%=render 'micro_messages/tabs'%>

  <div class="tabDiv used">
    <div class="page_content">


      <div class="left_half">
        <div class="msgBox newMsg">
          <%=link_to '+',new_site_micro_message_path(@site)%>
        </div>
        <%i=1%>
        <%@micro_messages.each do |m|%>
          <%  if i%2==1 %>
            <div class="msgBox">
              <%get_by_group(@micro_imgtextss,m.id).each_with_index do |micro_imgtext,index|%>
                <%if index==0%>
                  <div class="twBox">
                    <img src="<%=get_min1_by_imgpath micro_imgtext.img_path%>" />
                    <div class="twTit"><%=micro_imgtext.title%></div>
                    <div class="twCont"><%=micro_imgtext.content%></div>
                  </div>
                <%else%>
                  <div class="twBox2">
                    <img src="<%=get_min2_by_imgpath micro_imgtext.img_path%>" />
                    <div class="twTit2"><%=micro_imgtext.title%></div>
                    <div class="twCont"><%=micro_imgtext.content%></div>
                  </div>
                <%end%>
              <%end%>
              <div class="msgBoxAct">
              <%=link_to raw("<img src='/assets/edit.png' width='50px' />"),edit_site_micro_message_path(@site,m)%>
                      <%=link_to raw("<img src='/assets/delete.png' width='50px' />"),site_micro_message_path(@site,m),method: :delete%>

                  </div>
                </div>
              <%end if @micro_messages.present?%>
              <%i+=1%>
            <%end%>
          </div>


          <div class="right_half">
            <%j=1%>
            <%@micro_messages.each do |m|%>
              <%  if j%2==0 %>
                <div class="msgBox">
                  <%get_by_group(@micro_imgtextss,m.id).each_with_index do |micro_imgtext,index|%>
                    <%if index==0%>
                      <div class="twBox">
                        <img src="<%=get_min1_by_imgpath micro_imgtext.img_path%>" />
                        <div class="twTit"><%=micro_imgtext.title%></div>
                        <div class="twCont"><%=micro_imgtext.content%></div>
                      </div>
                    <%else%>
                      <div class="twBox2">
                        <img src="<%=get_min2_by_imgpath micro_imgtext.img_path%>" />
                        <div class="twTit2"><%=micro_imgtext.title%></div>
                        <div class="twCont"><%=micro_imgtext.content%></div>
                      </div>
                    <%end%>
                  <%end%>
                  <div class="msgBoxAct">
                    <%=link_to raw("<img src='/assets/edit.png' width='50px' />"),edit_site_micro_message_path(@site,m)%>
                      <%=link_to raw("<img src='/assets/delete.png' width='50px' />"),site_micro_message_path(@site,m),method: :delete%>

                      </div>
                    </div>
                  <%end%>
                  <%j+=1%>
                <%end%>
              </div>




            </div>
          </div>
        </div>
