<div class="second_content second_content2" id="it_award_info">
		<span class="close" onclick="cancle_award_page()">关闭</span>
		<h1><span><%=@award.name%></span>(<span><%="#{@award.begin_date}~#{@award.end_date}"%></span>)</h1>
		<table class="table1">
			<tr >
				<th style="width: 340px;">奖项</th>
                                <th>
                                  <span style="width:60px;display:inline-block;">
                                  code
                                  </span>
                                  <span style="width:150px;display:inline-block;">
                                  手机号
                                  </span>
                                  <span style="width:160px;display:inline-block;text-align: center;margin-left: 25px;">
                                    操作
                                  </span>
                                </th>
			</tr>
                        <%if !@awards_is.nil?%>
                        <%  @awards_is.each do |a,awards| %>
			<tr>
				<td><img src="<%=  get_qr_award_info(@award_infos,a)%>"/>（<%=awards.length%>人）</td>
                                
				<td>
                                  
                                  <%awards.each do |award|%>
                                  <div>
                                  <span style="width:60px;display:inline-block;">
                                  <%=award.open_id%>
                                  </span>
                                  <span style="width:174px;display:inline-block;">
                                    <input type="text" class="phone" name="phone" style="width:150px;" value="<%=award.secret_code%>"/>
                                  </span>
                                  <span style="width:150px;display:inline-block;">
                                    <% if award.if_checked %>
                                      <font color="red" >已领取</font>
                                    <%else%>
                                      <input type="button" class='blue_btn' style='padding:2px;' value="领取" onclick="submit_obtion_award(this,<%=award.id%>,<%=@site.id%>)" />
                                 
                                    <%end%>
                                      </span>
                                  </div>
                                    <br/>
                                  <%end%>

                                </td>
                               
                                
			</tr>
                        <%end%>
                        <%end%>
		</table>
	</div>