<div class="main_container">
  <%= render '/shared/left_panel' %>
  <div class="main_cont">
    <%= render '/shared/page_title' %>
    <div class="tabDiv used">
      <div class="page_content">
        <div class="page_tit">
          <%=link_to '添加二维码',new_site_qr_code_award_path(@site),remote:true,class:'blue_btn scd_btn',name:"addGgl"%>
          </div>
          <div class="page_txt">
            <table class="table1">
              <tr>
                <th>名称</th>
                <th>有效期</th>
                <th>奖项设置</th>
                <th>奖券数</th>
                <th style="width: 200px;">操作</th>
              </tr>
              <%@awards.each do |award|%>
                <tr>
                  <td><%= link_to award.name, site_qr_code_award_path(@site,award), "target" => "_blank" %>
                    <br/><%=site_qr_code_award_url(@site,award)%>
                  </td>
                  <td><%=award.begin_date%>到<%=award.end_date%></td>

                  <td>
                    <%award.award_infos.each do |a_info|%>
                  <li>
          
                    <img src="<%=get_min_by_imgpath a_info.content%>" />
                    <input type="button" src="<%=a_info.content%>" value="预览大图" class="blue_btn" onclick="viewLargerImage(this)" />

                  </li>
                <%end%>
                </td>
                <td><%=award.total_number%></td>
                <td>
                  <%=link_to '编辑',edit_site_qr_code_award_path(@site,award),remote:true,class:"blue_btn scd_btn", name:"addGgl"%>
                    <%=link_to '获奖信息',site_qr_code_award_win_award_info_path(@site,award),remote:true,class:'blue_btn scd_btn'%>
                      <%=link_to '删除',site_qr_code_award_path(@site,award),confirm:'是否删除？',method: :delete, class:"blue_btn"%>

                      </td>
                      </tr>
                    <%end%>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="second_box addGgl">

        </div>

        <div class="second_box resInfo">

        </div>
<div id="viewLarge"></div>