<%= form_for :image_text, :url => site_image_texts_path(@site), :method => "post" , :remote => true do |f| %>
  <h2>
    <span>标题<span class="check">*</span>
      <%= f.text_field :title %>
    </span>
    <span>文件名<span class="check">*</span>
      <%= f.text_field :file_name, :value => @page.new_record? ? "" : @page.file_name.gsub(".html", "") %>.html
    </span>
    <%= f.hidden_field :types, :value => Page::TYPE_NAMES[:image_text] %>
  </h2>
  <p><span>访问权限</span></p>
  <p>
    <%= f.radio_button :authenticate, 1, :checked => @page && @page.authenticate ? true : false %>是
    <%= f.radio_button :authenticate, 0, :checked => @page && @page.authenticate ? false : true %>否
  </p>
  <div class="picSort">
    <div class="it_editor">
      <div class="it_container">
        <span class="delete" onclick="deleOption(this)" title="移除图文"></span>
        <span class="image_area">
          <img src="/assets/temp.jpg" style="height:195px;border:1px solid gray;"/>
          <input type="hidden" name="image_text[img_path][]" class="image_text_input"/>
        </span>
        <textarea class="it_content" name="image_text[content][]" style="margin-bottom:20px"></textarea>
      </div>
    </div>
    <span class="create_access">
      <i class="icon42_common add_gray" onclick="appendEditor()"></i>
    </span>

  </div>

  <div class="action">
    <button type="submit" class="blue_btn" onclick="return checkITValid(this)" alt="/sites/#{@site.id}/image_texts" >提交</button>
  </div>

<% end %>

<script type="text/javascript">
  var ediotrContent = '<div class="it_container"><span class="delete" onclick="deleOption(this)" title="移除图文"></span><span class="image_area"><img src="/assets/temp.jpg" style="height:195px;border:1px solid gray;"/><input type="hidden" name="image_text[img_path][]" /></span><textarea class="it_content" name="image_text[content][]" ></textarea></div>'
  $(".textQuestion").each(function(){
    $(this).val($(this).prev().text())
  });

  function appendEditor(){
    $(".it_editor").last().append(ediotrContent);
    KindEditor.create($(".it_content").last(), {
      resizeMode : 1,
      width : "400px",
      items : [
        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
        'insertunorderedlist']
    });

    $( ".image_area img" ).last().droppable({
      accept: ".picRes > li",
      activeClass: "ui-state-highlight",
      drop: function( event, ui ) {
        $(this).attr("src", ui.draggable.find("img").attr("data-path-name"));
        $(this).next().val(ui.draggable.find("img").attr("data-path-name"));

        var imgWidth = $(this).width();
        var imgHeight = $(this).height();
        var width;
        var height;
        if(imgWidth > imgHeight){
          width = imgWidth > 300 ? "300px" : (imgWidth + "px");
          $(this).css({"width": width, "height": "auto"});
        }else{
          height = imgHeight > 195 ? "195px" : (imgHeight + "px");
          $(this).css({"height": height, "width" : "auto"});
        }
      }
    });
  }
</script>