<div class="main_container">
  <%= render '/sites/site_status' %>
  <div class="tabDiv <%= controller.action_name == "index" ? 'used' : '' %>">
    <div class="page_content">
      <div class="page_tit">
        <label><%= page_file_name(@page) %></label>
      </div>
      <% if @page.style? %>
        <div>
          拷贝 <input type="text" style="width: 600px; height: 30px " value='<link href="/allsites/<%= @site.root_path %>/style.css" rel="stylesheet" type="text/css" />'/>，粘贴到主页或者子页的"head"标签内
        </div>
        <div>
          拷贝jquery mobile样式 <input type="text" style="width: 600px; height: 30px " value='<link href="/allsites/style/jquery.mobile-1.3.2.css" rel="stylesheet" type="text/css" />'/>，粘贴到主页或者子页的"head"标签内
        </div>
      <% end %>
      <%= form_for [@site, @page], :html => {:id => "main_page_form", :remote => true} do |f| %>
        <%= f.hidden_field :title, :value => page_title(@page) %>
        <%= f.hidden_field :file_name, :value =>  page_file_name(@page) %>
        <%= f.text_area :content,:value =>@index, :class => "page_txt" %>

        <div class="page_act">
          <button class="blue_btn" type="submit" onclick="return changeUrl(this, '<%= @site.id %>', 2, '<%= @page.id %>')">保存</button>
          <% unless @page.types == Page::TYPE_NAMES[:style] %>
            <button class="blue_btn" onclick="return changeUrl(this, '<%= @site.id %>', 1, null)">预览</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>