<div class="main_container">
  <input type="hidden" value="<%=@site.id%>" id="site_id" />
  <%= render '/shared/left_panel' %>
  <div class="main_cont">
    <%= render '/shared/page_title' %>
    <div class="iphoneVirtual iv_temp1 main_tab" style="display: <%= !@site.template.present? || @site.template == Constant::Template[:temp1] ? "block" : "none" %>">
      <%if (@site.template).to_i!=Constant::Template[:temp1] || @page.page_html.nil? %>
        <div class="homeBg">
          <span  name="div"  style=" position: absolute;left:0px;width:320px; height:400px;">+</span>
          <div></div>
        </div>
        <ul class="homeMenu1 homeMenu">
          <a class="model1"  ><li class ="homeNav hn1">1</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model1"  ><li class="homeNav hn2">2</li><input type="hidden" class="img_link" name="img_link[]" data-href="#" /></a>
          <a class="model1"  ><li class="homeNav hn3">3</li><input type="hidden" class="img_link" name="img_link[]" data-href="#" /></a>
        </ul>
      <%else%>
        <%=page_html_deal @page.page_html%>
      <%end%>
    </div>

    <div class="iphoneVirtual iv_temp2 main_tab" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp2] ? "block" : "none" %>" >
      <%if @page.page_html.nil? || (@site.template).to_i!=Constant::Template[:temp2] %>
        <div class="homeBg">
          <span  name="div"  style=" position: absolute;left:0px;width:120px;height:400px; ">+</span>
          <div></div>
        </div>
        <ul class="homeMenu2 homeMenu ">
          <a class="model2" ><li class="homeNav hn1">1</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn2">2</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn3">3</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn4">4</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn5">5</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn6">6</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn7">7</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
          <a class="model2" ><li class="homeNav hn8">8</li><input type="hidden" class="img_link" name="img_link[]" data-href="#"/></a>
        </ul>
      <%else%>
        <%=page_html_deal @page.page_html%>
      <%end%>
    </div>

    <%= form_for :page, :url => "/sites/#{@site.id}/pages/save_template3" do |f| %>
      <div class="iphoneVirtual iv_temp3 main_tab"  style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp3] ? "block" : "none" %>">
        <% if @site.template == Constant::Template[:temp3] && @page.page_html.present?  %>
          <%= page_html_deal @page.page_html%>
        <% else %>
          <div class="homeAd">
            <div class="ad_box">
              <ul class="homeMenutmp3 tmp_280-196">
                <li><a class="scd_btn">1</a><input type="hidden" class="img_src" name="ad_src[]"/><span class="close"></span></li>
                <li><a class="scd_btn">2</a><input type="hidden" class="img_src" name="ad_src[]"/><span class="close"></span></li>
                <li><a class="scd_btn">3</a><input type="hidden" class="img_src" name="ad_src[]"/><span class="close"></span></li>
              </ul>
            </div>
            <div class="ad_num">
              <ul>
                <li class="curr">1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>
            <button class="addAdPic blue_btn" type="button">添加图片</button>
          </div>
          <div class="category">
            <ul class="temp75-70 temp3Block">
              <li><a class="scd_btn" name="addLink">1</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
              <li><a class="scd_btn" name="addLink">2</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
              <li><a class="scd_btn" name="addLink">3</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
              <li><a class="scd_btn" name="addLink">4</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
            </ul>
          </div>
          <div style="clear:both"></div>
          <div class="nav_d">
            <ul class="temp106-80 temp3Block">
              <li><a class="scd_btn" name="addLink">1</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
              <li><a class="scd_btn" name="addLink">2</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
              <li><a class="scd_btn" name="addLink">3</a><input type="hidden" class="img_src" name="img_src[]"/><input type="hidden" class="img_link" name="img_link[]"/></li>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
    <div id="tupian">
      <%= render 'shared/form_images',:objects => @imgs %>
    </div>

    <div class="iv_temp4 main_tab" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "block" : "none" %>">
      <%= form_for [@site, @page], :html => {:id => "main_page_form", :remote => true} do |f| %>
        <%= f.hidden_field :title, :value => page_title(@page) %>
        <%= f.hidden_field :file_name, :value =>  page_file_name(@page) %>
        <% if @site.template == Constant::Template[:temp4] && @page.page_html.present?  %>
          <%= f.text_area :content,:value => (page_html_deal @index), :class => "page_txt" %>
        <% else %>
          <%= f.text_area :content,:value => "", :class => "page_txt" %>
        <% end %>
        <input type="hidden" name="site[template]" value="<%= Constant::Template[:temp4] %>"/>
        <div class="pageAct" style="margin-top:25px">
          <button class="blue_btn" type="submit" onclick="return changeUrl(this, '<%= @site.id %>', 2, '<%= @page.id %>')">保存</button>
          <button class="blue_btn" onclick="return changeUrl(this, '<%= @site.id %>', 1, null)">预览</button>
        </div>
      <% end %>
    </div>
    <div class="pageAct" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "none" : "block" %>">
      <button class="blue_btn" onclick="submit_model_page('<%= @site.id %>')">保存</button>
      <%= link_to "预览" , "/sites/static" + "?path_name=" + @page.path_name,:target =>"_blank", :class => "blue_btn page_preview" %>
    </div>
  </div>
</div>

<div class="second_box addLink">
  <div class="second_content">
    <span class="close" >关闭</span>
    <h1>菜单一链接</h1>
    <div id="linkPage">
      <div class="tabs">
        <span class="tab curr">站内链接</span>
        <span class="tab">站外链接</span>
        <div class="tabsLine"></div>
      </div>
      <input type="hidden" class="hiddenIndex" />
      <input type="hidden" class="hiddenBlock" />
      <div class="tabDiv curr">
        <% @sub_pages.each do |page| %>
          <input type="radio" name="insite_link" value="<%= "/sites/static?path_name=" + page.path_name %>"/><span class="radioVal"><%= page.title %></span>
        <% end %>
      </div>
      <div class="tabDiv">
        <label>站外链接输入：</label><input type="text" name="outside_link" />
      </div>
      <div class="scdBox_act">
        <button class="blue_btn" onclick="setLink()">确认</button>
        <button class="blue_btn cancel">取消</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $input = $( ".homeMenu li" );

  // drop 元素
  it_drop($input);
  $input=$( ".homeBg span" );
  it_drop($input);

  $input_75 = $( ".temp75-70 a" );
  $input_106 = $( ".temp106-80 a" );
  $input_280 = $( ".tmp_280-196 a" );

  // drop 元素
  temp_it_drop($input_75, 75, 70);
  temp_it_drop($input_106, 106, 80);
  temp_it_drop($input_280, 280, 196);

</script>