

<div class="main_container">
  <%= render '/shared/left_panel' %>
  <div class="main_cont">
    <%= render '/shared/page_title' %>
    <div class="iphoneVirtual iv_temp1 main_tab" style="display: <%= !@site.template.present? || @site.template == Constant::Template[:temp1] ? "block" : "none" %>">
      <div class="homeBg">
        <span  name="div" height="400px" style=" position: absolute;left:0px;width:320px ">+</span>
        <div></div>
      </div>
      <ul class="homeMenu">
        <a class="model1" href="#"><li class ="homeNav hn1">1</li></a>
        <a class="model1" href="#"><li class="homeNav hn2">2</li></a>
        <a class="model1" href="#"><li class="homeNav hn3">3</li></a>
      </ul>
    </div>

    <div class="iphoneVirtual iv_temp2 main_tab" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp2] ? "block" : "none" %>">
      <div class="homeBg">
        <span  name="div" height="400px" style=" position: absolute;left:0px;width:120px ">+</span>
        <div></div>
      </div>
      <ul class="homeMenu">
        <a class="model2" href="#"><li class="homeNav hn1">1</li></a>
        <a class="model2" href="#"><li class="homeNav hn2">2</li></a>
        <a class="model2"href="#"><li class="homeNav hn3">3</li></a>
        <a class="model2" href="#"><li class="homeNav hn4">4</li></a>
        <a class="model2" href="#"><li class="homeNav hn5">5</li></a>
        <a class="model2" href="#"><li class="homeNav hn6">6</li></a>
        <a class="model2" href="#"><li class="homeNav hn7">7</li></a>
        <a class="model2" href="#"><li class="homeNav hn8">8</li></a>
      </ul>
    </div>

    <div class="iphoneVirtual iv_temp3 main_tab" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp3] ? "block" : "none" %>">
      <div class="homeBg">+</div>
      <ul class="homeMenu">
        <a href="#"><li class="homeNav hn1">1</li></a>
        <a href="#"><li class="homeNav hn2">2</li></a>

      </ul>
    </div>
    <%= render 'shared/form_images',:objects => @imgs %>

    <div class="iv_temp4 main_tab" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "block" : "none" %>">
      <%= form_for [@site, @page], :html => {:id => "main_page_form", :remote => true} do |f| %>
        <%= f.hidden_field :title, :value => page_title(@page) %>
        <%= f.hidden_field :file_name, :value =>  page_file_name(@page) %>
        <%= f.text_area :content,:value =>@index, :class => "page_txt" %>
        <input type="hidden" name="site[template]" value="<%= Constant::Template[:temp4] %>"/>
        <div class="page_act">
          <button class="blue_btn" type="submit" onclick="return changeUrl(this, '<%= @site.id %>', 2, '<%= @page.id %>')">保存</button>
          <button class="blue_btn" onclick="return changeUrl(this, '<%= @site.id %>', 1, null)">预览</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  // 定义图片库, drop area
  var $gallery = $( ".picRes" ),
  $input = $( ".homeMenu li" );

  // 使图片库里面的元素可托拽
  it_drag($( ".picBox", $gallery ));

  // drop 元素
  it_drop($input);
  $input=$( ".homeBg span" );
  it_drop($input);

  $(function(){
    $(".tmp_list li").click(function(){
      var className = $(this).attr("class").split(/\s/)[0];
      $(".tmp_list li").removeClass("hover");
      $(".main_cont .main_tab").hide();
      $(".main_cont .iv_" + className).show();
      if(className == "temp4"){
        $(".main_cont .picChoice").hide();
      }else{
        $(".main_cont .picChoice").show();
      }

      $(this).addClass("hover");
    })
  })
</script>