<div class="main_container">
  <%= render '/sites/site_status' %>
  <div class="tabDiv <%= controller.action_name == "index" ? 'used' : '' %>">
    <div class="page_content">
      <div class="page_tit">
        <label><%= page_file_name(@page) %></label>
      </div>
      <%= form_for [@site, @page], :html => {:id => "main_page_form", :remote => true} do |f| %>
        <%= f.hidden_field :title, :value => page_title(@page) %>
        <%= f.hidden_field :file_name, :value =>  page_file_name(@page) %>
        <%= f.text_area :content,:value =>@index, :class => "page_txt" %>

        <div class="page_act">
          <button class="blue_btn" type="submit" onclick="changeUrl(this, '<%= @site.id %>', 2, '<%= @page.id %>')">保存</button>
          <% unless @page.types == Page::TYPE_NAMES[:style] %>
            <button class="blue_btn" onclick="changeUrl(this, '<%= @site.id %>', 1, null)">预览</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>