<article>
  <section class="bbs_title">
    <img src="<%= @post.post_img %>"/>
    <a href="javascript:void(0)" data-url="<%= star_site_post_path(@site, @post) %>" onclick="toggleStar(this)" class=" bbs_star bbs_star_none"><%= @post.praise_number %></a>
  </section>
  <section class="bbs_body">
    <div class="bbs_h">
      <h1><%= @post.title %></h1>
      <p><%= @post.created_at.strftime("%Y-%m-%d") if  @post.created_at %></p>
    </div>
    <div class="bbs_text">
      <%= raw(@post.post_content) %>
    </div>
  </section>
  <section class="bbs_foot">
    <div class="bbs_mess_bar">
      <div class="bbs_mess_bar_num"><%= @post.comments_count %></div>
      <div class="bbs_mess_bar_j"></div>
    </div>
    <div class="comment_container">
      <%= render "/bbs/comments/comment" %>
    </div>
    <div class="bbs_textarea">
      <h1>评论：</h1>
      <%= form_for :comment, :url => "#{site_post_replies_path(@site, @post)}", :html => {:remote => true, :method => :post } do |f| %>
        <%= f.text_area :reply_content, :placeholder => "回复内容需在50字以内" %>
        <div class="bbs_textarea_btn">
          <!--<a href="#" class="btn">成为会员</a>-->
          <button type="submit" class="btn">发表评论</button>
        </div>
      <% end %>
    </div>

  </section>

</article>

<div id="dialog-reply-form" class="dialog-reply-form" title="回复几楼" style="display: none">
  <p class="validateTips"></p>
  <%= form_for :comment, :url => "#{site_post_replies_path(@site, @post)}", :html => {:remote => true, :method => :post } do |f| %>
    <%= f.text_area :reply_content, :cols => 32, :rows => 10, :id => "reply_content", :placeholder => "回复内容需在50字以内" %>
    <%= f.hidden_field :target_open_id, :id => "target_person" %>
  <% end %>
</div>

<script>
  $(function() {

  });
</script>