<div class="page_txt" id="page_text">
  <table class="table1">
    <tr>
      <th>路径【拷贝路径作为资源的src】</th>
      <th>操作</th>
    </tr>
    <% @resources.each do |sr|%>
      <tr>
        <td style="float:left;">/<%= "allsites/" + sr.path_name%>

        </td>

        <td>

          <%=link_to '删除',site_resource_path(@site,sr),confirm:'是否删除？',class:'blue_btn',method: 'delete' %>

            <%=link_to '预览' , site_resource_path(@site,sr),target:'_blank',class: "blue_btn" %>
                <!--<a href="/<%=sr.path_name%>" target="_blank">预览</a>-->
            </td>

          </tr>
        <%end%>
      </table>
      <div class="digg_pagination" style="margin:0 auto;text-align: center;">
        <%=will_paginate :previous_label=>'上一页',:next_label=>'下一页'%>
      </div>

    </div>