<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .look_resources{
      border:0px solid red;
      margin-top:20px;
      width:100%;
      text-align:center;
    }
    .look_resources div{
      margin: auto;
    }
  </style>
</head>

<div class="look_resources">
  /allsites/<%=@resources.path_name%>
  <%case which_res(@resources.path_name) %>
  <% when 'img' %>
    <div style="text-align:center;">
      <img src="/allsites/<%=@resources.path_name%>" />
    </div>
  <% when 'voice' %>
    <div style="text-align:center;">
      <embed src="/allsites/<%=@resources.path_name%>" />
    </div>
  <% when 'voide'%>
    <%  if @resources.path_name.split('.')[-1].downcase=='js'||@resources.path_name.split('.')[-1].downcase=='css' %>
   <div style="text-align:center;">
        <object data="/allsites/<%=@resources.path_name%>" height="600" width="100%"/>
      </div>
    <%else%>
      <p>友情提醒，视频资源无法观看时可能是您的浏览器没有安装相应的插件哦~*00*</p>
      <!--google 是quickTime plug-in-->
    
      <div style="text-align:center;">
        <object data="/allsites/<%=@resources.path_name%>" height="400" width="400"/>
      </div>
    <%end%>
  <%end%>
</div>