<%= form_for [@site, @page] do |f| %>
  <h2>
    <span>标题<span class="check">*</span>
      <%= f.text_field :title %>
    </span>
    <span>文件名<span class="check">*</span>
      <%= f.text_field :file_name, :value => @page.new_record? ? "" : @page.file_name.gsub(".html", "") %>.html
    </span>
    <br/>
    <span id="span_image_area">
      <img src="<%= @page && @page.img_path ? @page.img_path : '/assets/temp.jpg' %>" style="border:1px solid gray;"/>
      <%= f.hidden_field :img_path %></span>

    <%= f.hidden_field :types, :value => Page::TYPE_NAMES[:form] %>
  </h2>
  <fieldset class="page_txt">
    <legend>在这你可以编辑表单</legend>
    <div class="vall_box">
      <p>访问控制</p>
      <p>
        <%= f.radio_button :authenticate, 1, :checked => @page && @page.authenticate ? true : false %>是
        <%= f.radio_button :authenticate, 0, :checked => @page && @page.authenticate ? false : true %>否
      </p>
    </div>
    <fieldset class="formArea">
      <legend class="formTit">表单</legend>
      <div class="insertDiv">
        <% unless @page.new_record?  %>
          <%= (page_html_deal @index).split("<span class='delimeter'></span>")[1].html_safe %>
        <% end %>
      </div>
    </fieldset>
    <div class="addElemt">
      <button type="button" class="blue_btn" onclick="addQuestion(1)">增加信息栏</button>
      <button type="button" class="blue_btn" onclick="addQuestion(2)">增加单选栏</button>
      <button type="button" class="blue_btn" onclick="addQuestion(3)">增加复选栏</button>
      <button type="button" class="blue_btn" onclick="addQuestion(4)">增加下拉框</button>
    </div>
  </fieldset>
  <div id="hiddenContentContainer"></div>
  <div class="uinfo_act">
    <button type="button" class="blue_btn" alt="<%= @page.new_record? ? "/sites/#{@site.id}/pages" : "/sites/#{@site.id}/pages/#{@page.id}"%>"  onclick="submitForm(this, 'submit','<%=@site_id%>')">保存</button>
    <button type="button" class="blue_btn" alt="/sites/<%= @site.id %>/pages/form_preview" data-siteid="<%= @site.id %>" onclick="submitForm(this, 'preview')">预览</button>
  </div>
<% end %>

<script type="text/javascript">
  $(".textQuestion").each(function(){
    $(this).val($(this).prev().text())
  });

</script>