
<h1>站点详情</h1>
<h2 class="det_tit"><a title="站点名称"><%= @site.name %></a>(<a title="状态"><%= status_desc @site.status%></a>)</h2>
<ul class="theTabs cf">

  <%= link_to(site_pages_path(@site)) do %>
    <li class="theTab <%= controller_name == "pages" && controller.action_name == "index" ? 'used' : '' %>">
      <span>主页</span>
    </li>
  <% end %>

  <%= link_to(sub_site_pages_path(@site)) do %>
    <li class="theTab <%= controller.action_name == "sub" ? 'used' : '' %>">
      <span>子页</span>
    </li>
  <% end %>

  <%= link_to(style_site_pages_path(@site)) do %>
    <li class="theTab <%= controller.action_name == "style" ? 'used' : '' %>">
      <span>样式表</span>
    </li>
  <% end %>

  <%= link_to(site_resources_path(@site)) do %>
    <li class="theTab <%= controller_name == "resources" && controller.action_name == "index" ? 'used' : '' %>"">
      <span>资源</span>
    </li>
  <% end %>

  <%= link_to(form_site_pages_path(@site)) do %>
    <li class="theTab <%= controller.action_name == "form" ? 'used' : '' %>">
      <span>表单</span>
    </li>
  <% end %>

  <%= link_to(img_stream_site_image_streams_path(@site)) do %>
    <li class="theTab <%= controller.action_name == "img_text" ? 'used' : '' %>">
      <span>图片流</span>
    </li>
  <%= link_to(site_image_texts_path(@site)) do %>
    <li class="theTab <%= controller_name == "image_texts" && controller.action_name == "index" ? 'used' : '' %>">
      <span>图文</span>

    </li>
  <% end %>
</ul>
<hr class="tab_line" />
<div class="set_btn cf"><button class="blue_btn" onclick="change_status('<%=@site.id%>',2,'提交审核')">提交审核</button></div>
