<h1>站点详情</h1>
<h2 class="det_tit"><a title="站点名称"><%= @site.name %></a>(<a title="状态">新建</a>)</h2>
<ul class="theTabs cf">
  <li class="theTab <%= controller.action_name == "index" ? 'used' : '' %>">
    <span><%= link_to "主页", site_pages_path(@site) %></span>
  </li>
  <li class="theTab <%= controller.action_name == "sub" ? 'used' : '' %>">
    <span><%= link_to "子页", sub_site_pages_path(@site) %></span>
  </li>
  <li class="theTab <%= controller.action_name == "form" ? 'used' : '' %>">
    <span><%= link_to "样式表", form_site_pages_path(@site) %></span>
  </li>
  <li class="theTab">
    <span>资源</span>
  </li>
  <li class="theTab">
    <span>表单</span>
  </li>
</ul>
<hr class="tab_line" />
<div class="set_btn cf"><button class="blue_btn">提交审核</button></div>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}"%>
    <% end %>