<%#*<div class="main_container">%>
  <%=render 'shared/left_panel'%>
  <div class="main_cont">
    <div class="tit"><span>标题：</span><input type="text" id="title" value="<%=@page.title%>"/><span>文件名：</span><input readonly id="name" type="text" value="<%=@page.file_name.split(".")[0...-1].join(".") %>" /><span>.html</span></div>
    <div class="tempChoice tempChoice2" style="width:130px;">
      <!--span>自定义：</span>
      <ul>
        <li class="temp4" onclick="show_sub()"></li>
      </ul-->
    </div>
    <hr class="cf" color="#bcbcbc" />

    <div class="iphoneVirtual m_tab" style="overflow: auto;max-height: 568px;width: 337px;">
      <%=form_for(:pages,url: tmlt_sub_update_site_page_path(@site,@page),html:{style:"min-height: 570px;width: 320px;"}) do |f|%>
        <%=raw @page.page_html%>
      <%end%>
    </div>

    <div class="iv_temp4 main_tab m_tab" style="display:none;padding: 30px;text-align: center;">
      <%=form_for(:pages,url: zdy_sub_create_site_pages_path(@site)) do |f|%>
        <input type="hidden" id="sub_title1" name="sub_title" value="" />
        <input type="hidden" id="sub_name1" name="sub_name" value="" />
        <textarea id="zdy_sub_content1" class="zdy_sub_content1" name="zdy_sub_content" style="width: 914px; height: 377px;"></textarea>
      <%end%>
    </div>

    <div id="tupian">
      <%= render 'shared/form_images'%>
    </div>

    <div class="pageAct" style="display: <%= @site.template.present? && @site.template == Constant::Template[:temp4] ? "none" : "block" %>">
      <button class="blue_btn" onclick="submit_sub_page()">保存</button>
    </div>

  </div>

<%=render 'shared/links',from:"sub_page"%>


<script>
  // 定义图片库, drop area
  var $gallery = $( ".picRes" ),
  $input = $( ".smlPic a" );

  // 使图片库里面的元素可托拽
  it_drag($( ".picBox", $gallery ));

  // drop 元素
  it_drop($input);
  $input = $( ".topPic" );
  it_drop($input);
</script>