<!DOCTYPE html>
<html>

  <head>
    <title>我的微网站</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <% flash.each do |name, msg| %>
      <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
        <div   style="font-size:20px;margin: 200px auto;width: 300px;background: #3696E0;padding: 20px;">
          <span class="close" id="close_flash" style="float:right;" ></span>
          <div class="alert_h"><%=msg%></div>

        </div>
      </div>
    <% end %>
    <%= yield %>
    <%= render "/shared/tishi_alert" %>

  </body>
</html>
