<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title || "申邑•微网站" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <!--[if lte IE 6]>
      <script src="/assets/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  
<script>
	$(function(){
		$(".point_box").wookmark({ 
			container: $(".main_cont1"),
			offset: 10,			
			itemWidth: 340
		}); 
	})
</script>
  <body>

<% flash.each do |name, msg| %>
  <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
    <div style="font-size:20px;margin: 200px auto;width: 300px;background: #3696E0;padding: 20px;">
      <span class="close" id="close_flash" style="float:right;" ></span>
      <div class="alert_h"><%=msg%></div>
    </div>
  </div>
<% end %>
    
    <%= render "shared/head_nav" %>
    <%= yield %>
    <div class="second_bg"></div>

    <%= render "/shared/pop_container" %>
   <%= render "/shared/tishi_alert" %>
  </body>
</html>
