<!DOCTYPE html>
<html>
  <head>
    <title>微网站</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/head_nav" %>
    <%= yield %>
    <div class="foot"></div>
    <div class="second_bg"></div>

    <%= render "/shared/pop_container" %>
  </body>
</html>
